# q1

In [1]:
my_name = 'karina'
print (my_name)

karina

# q2

In [2]:
my_id = 1999
print (my_id)

1999

# q3

In [3]:
my_id_str = '1999'
print (my_id_str)

1999

# q4

In [5]:
my_name + my_id

TypeError: must be str, not int

No, because string can't plus integer.
The reason why it did not work was because the second part had to be a string and could not be an integer.

# q5

In [6]:
my_name + my_id_str

'karina1999'

Yes, because string can plus string.

# q6

In [40]:
print ('hello, world. This is my first python string.'.split('.'))

['hello, world', ' This is my first python string', '']

# q7

In [19]:
str_list = ['a','b','c','e','d']
str_list.sort()
print (str_list)

['a', 'b', 'c', 'd', 'e']

Yes, they were able to sort out the letters that were out of alphabetical order.

# q8

In [20]:
str_list.append('f')
print (str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# q9

In [21]:
str_list.remove('d')
print (str_list)

['a', 'b', 'c', 'e', 'f']

# q10

In [24]:
print (str_list[2])

c

# q11

In [32]:
num_list = [12,32,43,35]

In [33]:
str_list + num_list

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

Yes, it worked.

# q12

In [35]:
my_dict = {'name':'Karina',
           'id': 1999}
print (my_dict)

{'name': 'Karina', 'id': 1999}

# q13

In [36]:
my_dict['name']='Juarez'
print (my_dict)

{'name': 'Juarez', 'id': 1999}

# q14

In [37]:
print (my_dict['id'])

1999

# q15

In [38]:
my_dict['id']=124
print (my_dict)

{'name': 'Juarez', 'id': 124}

# q16

In [39]:
my_dict['num_list']=num_list
print (my_dict)

{'name': 'Juarez', 'id': 124, 'num_list': [12, 32, 43, 35]}

It added the number list in the dictionary.